@page
@model IndexModel
@{
    ViewData["Title"] = "Informacje o aplikacji";
}

<div class="jumbotron">
    <h1>Biblioteka Multimediów</h1>
    <p class="lead">
        Aplikacja webowa do zarządzania, katalogowania
        i wypożyczania zasobów multimedialnych
    </p>
    <p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-page="/About">Informacje o aplikacji &raquo;</a>
    </p>

</div>
