@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
    var myStyle = "width:400px;";
}

<div class="jumbotron">
    <h1>Biblioteka Multimediów</h1>
    <p class="lead">
        Aplikacja webowa do zarządzania, katalogowania
        i wypożyczania zasobów multimedialnych
    </p>
    <p>
        <a class="btn btn-outline-primary btn-lg" asp-area="" asp-page="/About">Informacje o aplikacji &raquo;</a>
    </p>
</div>

<div class="jumbotron">
    <p class="lead">
        Sktóty do najczęstrzych aktywności:
    </p>
    <div>
        <br />
        <p>
            <a class="btn btn-outline-success btn-lg" asp-area="" asp-page="/Activities/Create" style="@myStyle">Zarejestruj wypożyczenie lub zwrot &raquo;</a>
        </p>

        <br />
        <p>
            <a class="btn btn-outline-info btn-lg" asp-area="" asp-page="/Supplies/Index" style="@myStyle">Przeglądaj zasoby &raquo;</a>
        </p>

        <br />
        <p>
            <a class="btn btn-outline-info btn-lg" asp-area="" asp-page="/Activities/Index" style="@myStyle">Zobacz aktywności czytelników &raquo;</a>
        </p>
    </div>
</div>
