@page
@model MultimediaLibrary.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1 class="text-danger">NotFound.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>
    Strona której szukasz <strong>nie istnieje</strong>. Sprawdź czy poprawnie podałeś adres szukanej strony.
</h3>
